/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
   font-size: 16px;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.d-w-10{
   width: 10%;
}
.d-w-20{
   width: 20%;
}
.d-w-25{
   width: 25%;
}
.d-w-30{
   width: 30%;
}
.d-w-40{
   width: 40%;
}
.d-w-50{
   width: 50%;
}
.d-w-50{
   width: 50%;
}
.d-w-60{
   width: 60%;
}
.d-w-70{
   width: 70%;
}
.d-w-80{
   width: 80%;
}
.d-w-90{
   width: 90%;
}
.d-w-100{
   width: 100%;
}
img{
   width: 100%;
}
.d-row{
   display: flex;
}
.container{
   width: 1290px;
   margin: 0 auto;
}
.text-center{
   text-align: center;
}
.d-float>div{
   float: left;
}
.clearfix{
   clear: both;
}