@import url(../css/reset.css);

#container-z{
    position: relative;
    
}


.container{
    width: 100%;
    overflow: hidden;

}
.box{
    width: 2280px;
    height: 100vh;
    margin: 0 -200px;    
    background: url(../img/background.png);
    background-size:cover;
    background-position: center ;
   
}

.logo-img{
    width: 150px;
    position: absolute;
    top: 12%;
    left: 7%;
}
.page-text-event{
    position: absolute;
    top: 50%;
    left: 7.8%;
    color: white;
}
.navi{
    position: fixed;
    top: 12%;
    left: 84%;
    
     }
     .navi li{
        transform: rotate(270deg);
        margin: 100px;
            }
     .navi li a{
    color: white;
    font-size: 0.9rem;
    font-family: 'Noto Sans KR', sans-serif;
   }
   
   .event-text{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    padding-bottom: 30%; 
   }
   .event-date{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    padding-bottom: 12%;   
   }
   .event-name-en{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.6rem;
    color: white;
    padding-bottom: 6%;
    font-weight: 700; 
   }
   .event-name-kr{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
    color: white;
    font-weight: 700;  
   }


/* section1 END */

#section02{
    width: 100%;
    background-image: url(../img/teambg.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}
.page2-tit{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}
.a-tit{
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0 5%;
    font-size: 2rem;
    font-weight: 700;
}

.p-tit{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}
.p-tit::before{
    width: 53px;
    height: 4px;
    background: #000;
    content: "";
    position: absolute;
    bottom: -7%;
    left: 48.6%;
}
.warp-box1{
    width: 100%;
}
.warp-box1 > div{
    float: left;
    padding: 5%;
}
.desc-t{
    width: 40%;
}
.about-img{
    width: 40%;
}
.description{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 62px;
}

/* section2 END */

#section3{
    width: 100%;
    background-image: url(../img/teambg.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}
.page3-title{
    padding-top: 5%;
    width: 100%;
}
.page3-tit{  
    font-family: 'Noto Sans KR', sans-serif;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 700;
}
.page3-tit::before{
    width: 53px;
    height: 4px;
    background: #000;
    content: "";
    position: absolute;
    bottom: -108%;
    left: 48.6%;
}

.sec3-img-warp{
    width: 100%;
    padding: 5% 10% 0;
}
.sec3-img-warp div{
    width: 20%;
    float: left;

}
.img-1st{
width: 95%;
margin: 0 1.1%;
opacity: 1;
}
.img-2st{
    width: 95%;
    margin: 0 1.1%;
    }
    .img-3st{
        width: 95%;
        margin: 0 1.1%;
        }
        .img-4st{
            width: 95%;
            margin: 0 1.1%;
            }


/* section3 */
#section4{
    width: 100%;
    background-image: url(../img/teambg.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.page4-title{
    padding-top: 5%;
    width: 100%;
}
.page4-tit{  
        text-align: center;
        font-size: 1.1rem;
        font-weight: 700;
}
.page4-tit::before{
    width: 53px;
    height: 4px;
    background: #000;
    content: "";
    position: absolute;
    bottom: -193.6%;
    left: 48.6%;
}

/* section4 */
#section5{
    width: 100%;
    background: #2a3d45;
}
.page5-title{
    padding-top: 5%;
    width: 100%;
}
.page5-tit{  
        text-align: center;
        font-size: 1.1rem;
        font-weight: 700;
}
.page5-tit::before{
    width: 53px;
    height: 4px;
    background: #000;
    content: "";
    position: absolute;
    bottom: -202%;
    left: 48.6%;
}


